<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if params[:plan] == '3' %>
      <h1 class="text-center">Pro Account</h1>
      <p class="text-center">Sign up for the pro account for £10,000 and get access to the community and contact information!</p>
    <% elsif params[:plan] == '4' %>
      <h1 class="text-center">Entrepreneur Account</h1>
      <p class="text-center">Sign up for free and get basic access to the community.</p>
      
    <% else %>
      <h1 class="text-center">Academnic/NGO Account</h1>
      <p class="text-center">Sign up for free and get basic access to the community.</p>
    <% end %>
    
    <div class="well">
      <h2>Sign up</h2>
        <% if params[:plan] == '3' %>
          <%= render "pro_form" %>
        <% elsif params[:plan] == '4' %>
          <%= render "ent_form" %>  
        <% else %>
          <%= render "academic_form" %>
        <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>