<p>Thank you for joining Migrant Entrepreneurs Network. We are pleased to confirm that your application has been approved. Please click <%= link_to "here", ENV['ROOT_URL'] + new_user_session_path %> to login and join the community.</p>

<p>Best wishes</p>
<p>Migrant Entrepreneurs Network team</p>


