<div class="container">
    <div class="row">
        <h2>Projects</h2>
    </div>

    <div class="row">
        <div class="col-md-1">
            <i class="fa fa-graduation-cap fa-5x"></i>
        </div>
        
        <div class="col-md-11">
            <h3>Migrant Entrepreneurs Academy</h3>
            <p>We will develop a startup accelerator program that will provide training on business skills, leadership and sustainable development for migrant entrepreneurs.</p>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    
    <div class="row">
        <div class="col-md-1">
            <i class="fa fa-trophy fa-5x"></i>
        </div>
        
        <div class="col-md-11">
            <h3>Migrant Entrepreneurs Award</h3>
            <p>Developing an award scheme that raises public awareness about migrant entrepreneurship and gives public recognition for successful migrant social entrepreneurs or innovators.</p>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    
    <div class="row">
        <div class="col-md-1">
            <i class="fa fa-users fa-5x"></i>
        </div>
        
        <div class="col-md-11">
            <h3>Migrant Entrepreneurs Mentorship Programme</h3>
            <p>Developing a collaborative programme in which corporate employees volunteer to mentor migrant entrepreneurs to improve business knowledge and growth.</p>
        </div>
            
    </div>
</div>
